# ******************************************************************
# Please see README.md for prerequisites and repository settings.
# ******************************************************************

name: SDK Build and Testing

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  build:
    name: Build and Test (Xcode ${{ matrix.xcode }})
    runs-on: macos-${{ matrix.macos }}
    env:
      DEVELOPER_DIR: "/Applications/Xcode_${{ matrix.xcode }}.app"
    strategy:
      fail-fast: false
      matrix:
        include:
          # Check Apple Developer for information on device and Swift version support: https://developer.apple.com/support/xcode/
          
          # Latest
          - macos: 26
            xcode: '26.0'   # Swift 6.2
            ios-simulator: 'iPhone 17 Pro'
            sonar_check: true

          # Legacy
          - macos: 15
            xcode: '16.4'   # Swift 6.1
            ios-simulator: 'iPhone 16 Pro'

          - macos: 14
            xcode: '16.2'   # Swift 6.0
            ios-simulator: 'iPhone 16 Pro'

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0 # Full history for accurate Sonar analysis

      - name: Select Xcode Version
        run: |
          ls /Applications/ | grep Xcode
          sudo xcode-select -s ${{ env.DEVELOPER_DIR }}

      - name: Prepare Simulator
        run: |
          set -o pipefail
          xcrun simctl boot "${{ matrix.ios-simulator }}" || true
          xcrun simctl list devices

      - name: Build and Test (Simulator)
        run: |
          set -o pipefail
          xcodebuild clean build test \
            CODE_SIGNING_ALLOWED=NO \
            -project NeuroID.xcodeproj \
            -scheme NeuroID \
            -destination "platform=iOS Simulator,name=${{ matrix.ios-simulator }}" \
            -configuration Debug \
            -resultBundlePath TestResults.xcresult | \
          xcbeautify

      - name: Convert Coverage for Sonar
        if: ${{ matrix.sonar_check == true }}
        run: ./Scripts/xccov-to-sonarqube-generic.sh TestResults.xcresult > Coverage.xml

      - name: Upload test results
        uses: actions/upload-artifact@v5
        if: always()
        with:
          name: xcode-test-results-macos-${{ matrix.macos }}-xcode-${{ matrix.xcode }}
          path: |
            TestResults.xcresult
            Coverage.xml 
          if-no-files-found: ignore # Coverage.xml wil not exist for older builds

      - name: Sonar Scan
        uses: SonarSource/sonarqube-scan-action@a31c9398be7ace6bbfaf30c0bd5d415f843d45e9
        if: ${{ matrix.sonar_check == true }}
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
