# ******************************************************************
# Please see README.md for prerequisites and repository settings.
# ******************************************************************

name: SDK Build and Testing

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  build:
    name: Build and Test (Xcode ${{ matrix.xcode }})
    runs-on: macos-${{ matrix.macos }}
    env:
      DEVELOPER_DIR: "/Applications/Xcode_${{ matrix.xcode }}.app"
    strategy:
      fail-fast: false
      matrix:
        include:
          # Latest
          - macos: 15
            xcode: '26.0'    # Swift 6.2
            ios-simulator: 'iPhone 17 Pro'
            OS: latest

          # Legacy
          - macos: 15
            xcode: '16.4'    # Swift 6.1
            ios-simulator: 'iPhone 16 Pro'
            OS: latest

          - macos: 15
            xcode: '16.2'    # Swift 6.0
            ios-simulator: 'iPhone 16 Pro'
            OS: 18.6

    steps:
      - name: Branch Checkout
        uses: actions/checkout@v6

      - name: Select Xcode Version
        run: |
          sudo xcode-select -s ${{ env.DEVELOPER_DIR }}
          ls /Applications/
          xcodebuild -version
          xcrun simctl list devices

      - name: List Items
        run: |
          echo "Runtimes:"
          xcrun simctl list runtimes

          echo "Show SDKs:"
          xcodebuild -showsdks

          echo "Devices:"
          xcrun simctl list devices

      - name: Prepare Simulator
        run: |
          set -o pipefail
          xcrun simctl boot "${{ matrix.ios-simulator }}" || true
          xcrun simctl list devices

      - name: Build and Test (Simulator)
        run: |
          set -o pipefail
          xcodebuild clean build test \
            CODE_SIGNING_ALLOWED=NO \
            -project NeuroID.xcodeproj \
            -scheme NeuroID \
            -destination "platform=iOS Simulator,name=${{ matrix.ios-simulator }},OS=${{ matrix.OS }}" \
            -configuration Debug \
            -resultBundlePath TestResults.xcresult | \
          xcbeautify

      - name: Upload test results
        uses: actions/upload-artifact@v5
        if: always()
        with:
          name: xcode-test-results-macos-${{ matrix.macos }}-xcode-${{ matrix.xcode }}
          path: |
            TestResults.xcresult
