# ******************************************************************
# Please see README.md for prerequisites and repository settings.
# ******************************************************************

name: SDK Build and Testing

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  build:
    name: Build and Test (Xcode ${{ matrix.xcode }})
    runs-on: macos-${{ matrix.macos }}
    env:
      DEVELOPER_DIR: "/Applications/Xcode_${{ matrix.xcode }}.app"
    strategy:
      fail-fast: false
      matrix:
        include:
          # Latest
          - macos: 26
            xcode: '26.0'    # Swift 6.2
            ios-simulator: 'iPhone 17 Pro'

          # Legacy
          - macos: 15
            xcode: '16.4'    # Swift 6.1
            ios-simulator: 'iPhone 16 Pro'

          - macos: 15
            xcode: '16.0'    # Swift 6.0
            ios-simulator: 'iPhone 16 Pro'

          - macos: 14
            xcode: '15.0'    # Swift 5.9
            ios-simulator: "iPhone 15 Pro"

    steps:
      - name: Branch Checkout
        uses: actions/checkout@v6

      - name: Select Xcode Version
        run: |
          sudo xcode-select -s ${{ env.DEVELOPER_DIR }}
          ls /Applications/
          xcodebuild -version
          xcrun simctl list devices

      - name: Build and Test (Simulator)
        run: |
          set -o pipefail
          xcodebuild clean build test \
            CODE_SIGNING_ALLOWED=NO \
            -project NeuroID.xcodeproj \
            -scheme NeuroID \
            -destination "platform=iOS Simulator,name=${{ matrix.ios-simulator }}" \
            -configuration Debug \
            -resultBundlePath TestResults.xcresult | \
          xcbeautify