# ******************************************************************
# This workflow will run once a new version is tagged that isn't development
# ******************************************************************

name: Deploy Prod Sandbox Apps

on:
  push:
    tags:
      - '*'
      - '!development'
      - '!latest'
  workflow_dispatch:
  repository_dispatch:
    types: [on-demand-testflight]

jobs:
  testflight:
    runs-on: ubuntu-latest
    steps:
      - name: Run iOS SwiftUI Sandbox Deployment
        run: |
          curl \
            -X POST \
            -H "Accept: application/vnd.github.v3+json" \
            -H "Authorization: token ${{ secrets.GPR_API_KEY }}" \
            https://api.github.com/repos/Neuro-ID/neuroid-ios-sdk-sandbox-swiftui/dispatches \
            -d '{"event_type":"on-demand-testflight","client_payload":{"version":"${{ github.ref }}", "message": "${{ github.event.commits[0].message }}"}}'

      - name: Run iOS Storyboard Sandbox Deployment
        run: |
          curl \
            -X POST \
            -H "Accept: application/vnd.github.v3+json" \
            -H "Authorization: token ${{ secrets.GPR_API_KEY }}" \
            https://api.github.com/repos/Neuro-ID/neuroid-ios-sdk-sandbox-storyboard/dispatches \
            -d '{"event_type":"on-demand-testflight","client_payload":{"version":"${{ github.ref }}", "message": "${{ github.event.commits[0].message }}"}}'

      - name: Run ReactNative Sandbox Deployment
        run: |
          curl \
             -X POST \
             -H "Accept: application/vnd.github.v3+json" \
             -H "Authorization: token ${{ secrets.GPR_API_KEY }}" \
             https://api.github.com/repos/Neuro-ID/neuroid-reactnative-sdk/dispatches \
             -d '{"event_type":"on-demand-testflight","client_payload":{"version":"${{ github.ref }}", "message": "${{ github.event.commits[0].message }}"}}'
