# ******************************************************************
# This workflow will trigger once the `version-update.yaml` workflow PR is complete
# or a PR goes into main from a branch that has a prefix of `releases/`
# ******************************************************************

name: Release iOS SDK

on:
  pull_request_target:
    types:
      - closed
    branches:
      - main

env: 
  SVC_NAME: "neuroid-ios-sdk"
  ACTION_URL: "https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}"

jobs:
  releaseProjectVersion:
    runs-on: macos-15
    if: github.event.pull_request.merged && startsWith(github.head_ref, 'releases/')
    name: Create Release from Tag
    permissions:
      contents: write
      issues: write
    steps:
      - uses: actions/checkout@v6

      - name: Set up ruby env
        uses: ruby/setup-ruby@8aeb6ff8030dd539317f8e1769a044873b56ea71
        with:
          ruby-version: 3.4.7
          bundler-cache: true

      - name: Get Updated Version
        run: |
          PACKAGE_VERSION=$(bundle exec fastlane get_project_version | grep -o "SDK Version:.*" | sed "s/SDK Version: //" )
          echo "PACKAGE_VERSION=${PACKAGE_VERSION}" >> $GITHUB_ENV

      - name: Create Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh release create "${{ env.PACKAGE_VERSION }}" \
            --latest \
            --title "${{ env.PACKAGE_VERSION }}" \
            --notes 'The NeuroID iOS SDK (${{ env.PACKAGE_VERSION }}) is now available.' \
            --generate-notes

      - name: Update Release to also have "Latest" Tag
        run: |
          git config --global user.email developer@neuro-id.com
          git config --global user.name neuroid-developer
          set +e
          git push origin :latest
          git tag -d latest
          git tag latest
          git push origin latest
          set -e

      - name: Release to Cocoapods
        env:
          COCOAPODS_TRUNK_TOKEN: ${{ secrets.COCOAPODS_TRUNK_TOKEN }}
        run: |
          pod trunk push NeuroID.podspec --allow-warnings

      - name: Send Release Succeeded Result to NID Mobile Infra Repo
        if: success()
        run: |
          curl \
            -X POST \
            -H "Accept: application/vnd.github.v3+json" \
            -H "Authorization: token ${{ secrets.GPR_API_KEY }}" \
            https://api.github.com/repos/Neuro-ID/neuroid-mobile-infra/dispatches \
            -d '{"event_type":"release","client_payload":{"status":"success", "service": "ios", "version": "${{ env.PACKAGE_VERSION }}", "action_url": "${{ env.ACTION_URL }}"}}'

      - name: Send Release Failure Result to NID Mobile Infra Repo
        if: failure()
        run: |
          curl \
            -X POST \
            -H "Accept: application/vnd.github.v3+json" \
            -H "Authorization: token ${{ secrets.GPR_API_KEY }}" \
            https://api.github.com/repos/Neuro-ID/neuroid-mobile-infra/dispatches \
            -d '{"event_type":"release","client_payload":{"status":"failure", "service": "ios", "version": "${{ env.PACKAGE_VERSION }}", "action_url": "${{ env.ACTION_URL }}"}}'
