# ******************************************************************
# This workflow will trigger once a PR opens to main
# ******************************************************************

name: SDK Testing

on:
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: macos-15-large
    steps:
      - name: Select Xcode 26
        run: sudo xcode-select -s /Applications/Xcode_26.0.app

      - name: Branch Checkout
        uses: actions/checkout@v3

      - name: Set up ruby env
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.4.7
          bundler-cache: true

      - name: Cache CocoaPods
        uses: actions/cache@v4
        with:
          path: |
            Pods
          key: ${{ runner.os }}-pods-${{ hashFiles('**/Podfile.lock') }}

      - name: CocoaPod Install
        run: pod install

      # - name: Run iOS Unit Testing for Dev SDK
      #   run: bundle exec fastlane test

      - name: Build and Test
        run: |
          set -o pipefail
          xcodebuild clean build test \
            CODE_SIGNING_ALLOWED=NO \
            -workspace ./NeuroID.xcworkspace \
            -scheme NeuroID \
            -destination "platform=iOS Simulator,name=iPhone 17 Pro,OS=latest" \
            -resultBundlePath TestResults.xcresult | \
          xcbeautify

      - name: Upload xcresult + logs
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: xcode-test-artifacts
          path: |
            TestResults.xcresult
