# ******************************************************************
# To create an SDK package release PR, run this workflow from the GitHub UI and
# select parameters based on the type of release:
#
# - Major Update
#   Choose if there are breaking changes affecting sdk's across platforms i.e. react-native, android, ios etc.
#
# - Minor Update
#   Choose if there are multiple minor changes affecting sdk's across platforms i.e. react-native, android, ios etc.
#
# - Patch Update
#   Choose if the change affects only the react-native platform.
# ******************************************************************

name: SDK Version Update PR

on:
  workflow_dispatch:
    inputs:
      version_update:
        description: >
          Choose the type of version update:            
          ** major: Cross platform breaking changes                                   
          ** minor: Cross platform minor changes                    
          ** patch: Changes affecting only this platform
        required: true
        default: "patch"
        type: choice
        options: ["major", "minor", "patch"]

jobs:
  updateProjectVersion:
    runs-on: macos-15
    name: Update version for podspec and project
    permissions:
      pull-requests: write
      contents: write
      issues: write
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Set up ruby env
        uses: ruby/setup-ruby@8aeb6ff8030dd539317f8e1769a044873b56ea71
        with:
          ruby-version: 3.4.7
          bundler-cache: true

      - name: Pre-check PodSpec
        run: pod spec lint --allow-warnings

      - name: Pre-check Pod Libraries
        run: pod lib lint --allow-warnings

      - name: Update Current Version
        run: bundle exec fastlane update_project_version
        env:
          releaseType: ${{ inputs.version_update }}

      - name: Get Updated Version
        run: |
          PACKAGE_VERSION=$(bundle exec fastlane get_project_version | grep -o "SDK Version:.*" | sed "s/SDK Version: //" )
          echo "PACKAGE_VERSION=${PACKAGE_VERSION}" >> $GITHUB_ENV
          echo "BRANCH_NAME=releases/${PACKAGE_VERSION}_version_update" >> $GITHUB_ENV

      - name: Update SDK Version in NeuroID.swift
        run: ./Scripts/update-sdk-version.sh $PACKAGE_VERSION

        # Get tag of latest release to create comparison URL in PR description
      - name: Get previous release tag
        run: echo PREV_TAG="$(gh release view --json tagName -q .tagName)" >> $GITHUB_ENV

      - name: Get current commit hash
        run: echo HASH="$(git rev-parse HEAD)" >> $GITHUB_ENV

      - name: Create comparison URL
        run: echo URL="https://github.com/Neuro-ID/neuroid-ios-sdk/compare/${{ env.PREV_TAG }}...${{ env.HASH }}" >> $GITHUB_ENV

      - name: Commit version changes
        run: |
          git config --global user.email developer@neuro-id.com
          git config --global user.name neuroid-developer
          git checkout -b ${{ env.BRANCH_NAME }}
          git status
          set +e
          git add NeuroID.podspec
          git add SDKTest/Info.plist
          git add Source/NeuroID/Info.plist
          git commit -m "Update SDK to $PACKAGE_VERSION"
          git push --set-upstream origin ${{ env.BRANCH_NAME }}
          set -e

      - name: Open Pull Request
        uses: actions/github-script@v5
        with:
          gh-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            const title = 'Release Version: ${{ env.PACKAGE_VERSION }}';
            const body = 'Once merged, this PR will trigger an action to release version: ${{ env.PACKAGE_VERSION }}. Please review detailed release changes: ${{ env.URL }}';
            const headBranch = '${{ env.BRANCH_NAME }}';
            const baseBranch = 'main';

            const createPullRequest = async () => {
              const response = await github.rest.pulls.create({
                owner: context.repo.owner,
                repo: context.repo.repo,
                title: title,
                body: body,
                head: headBranch,
                base: baseBranch
              });
              console.log(`Pull request ${response.data.number} created`);
            };

            createPullRequest();
